body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#f8fafc;
  color:#0f172a;
  overflow-x:hidden;
}

/* BACKGROUND ANIMATION */

.bg-animate{
  position:fixed;
  width:200%;
  height:200%;
  background:linear-gradient(120deg,
  transparent 40%,
  rgba(34,197,94,0.15),
  transparent 60%);
  animation:moveBg 12s linear infinite;
  z-index:-1;
}

@keyframes moveBg{
  0%{transform:translateX(-50%) translateY(-50%)}
  100%{transform:translateX(0%) translateY(0%)}
}

/* LAYOUT */

.container{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
}

.hero{
  text-align:center;
}

/* FOTO FULL BODY */

.profile{
  width:280px;
  max-width:90%;
  margin-bottom:20px;
  filter:drop-shadow(0 20px 25px rgba(0,0,0,0.15));
}

/* TEXT */

h1{
  font-size:34px;
  margin:10px 0 5px;
}

h2{
  font-weight:400;
  color:#475569;
  min-height:28px;
}

.subtitle{
  color:#64748b;
  margin-top:10px;
}

/* PROGRESS */

.progress{
  width:260px;
  height:6px;
  background:#e2e8f0;
  margin:20px auto 10px;
  border-radius:20px;
  overflow:hidden;
}

.bar{
  height:100%;
  width:75%;
  background:#22c55e;
}

/* CERTIFICATE */

.certificates{
  margin-top:70px;
}

.certificates h3{
  text-align:center;
  margin-bottom:25px;
}

.cert-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.cert-grid img{
  width:100%;
  border-radius:14px;
  cursor:pointer;
  transition:.3s;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.cert-grid img:hover{
  transform:translateY(-6px);
}

/* LIGHTBOX */

#lightbox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
}

#lightbox img{
  max-width:90%;
  max-height:90%;
  border-radius:10px;
}
